@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

$fontWeather: 'Open Sans Condensed', sans-serif;




body {
    font-family: $fontWeather;
    background-color: #80ABFF;
}
