@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

$fontWeather: 'Open Sans Condensed', sans-serif;




body {
    font-family: $fontWeather;
    background-color: #80ABFF;
}

.app {
    background-color: #527CCC;
    padding: 3px;
    margin-top: 50%;
    margin-bottom: 50%;
}
